body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  text-align: center;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.move-icon{
  width: 75px;
  height: 75px;
}

.move-button{
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  cursor: pointer;
  margin: 30px;
}

.move-button:hover{
  background-color: rgba(78, 75, 75, 0.192);
}

.result{
  font-size: 40px;
  font-weight: bold;
  margin-top: 35px;
  color: red;
}

.score{
  font-size: 20px;
  margin-bottom: 40px;
}

.reset-score-button,
.auto-play-button{
  background-color: rgb(16, 145, 94);
  border: none;
  border-radius: 5px;
  padding: 12px 13px;
  cursor: pointer;
  font-size: 18px;
  
}

.reset-score-button:hover{
  background-color: rgba(125, 211, 176, 0.8);
}